<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/main">Human Resources</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item">
                <a class="nav-link" href="logout">Log Out</a>
            </li>
        </ul>       
    </nav>
    <div class="container-fluid">       
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar" style="height: 1000px;">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" style="margin-top: 50px;" href="/departments">Departments</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/employees">Employees</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/jobs">Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/history">Job History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/locations">Locations</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/careers">Careers</a>
                        </li>                       
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <h1 class="text-info" style="margin-top: 50px; text-align: center;">EMPLOYEES</h1>
                <div>
                    <table style ="float:right;" class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Title</th>
                                <th scope="col">Department</th>
                                <th scope="col">Joined Company</th>
                                <th scope="col">Profile</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for employee in employees %}   
                            <tr>
                                <th>{{employee.users.first_name}} {{employee.users.last_name}}</th>
                                <td>{{employee.job.job_title}}</td>
                                <td>{{employee.dept_work.department_name}}</td>
                                <td>{{employee.hire_date}}</td>
                                <td><a href="/employee/{{employee.id}}">View Employee Profile</a></td>
                            </tr>
                        {% endfor %}              
                        </tbody>
                    </table>
                </div>        
            </main>
        </div>
    </div>
</body>
</html>