<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Trip</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <a class="text-primary float-right mt-2 mr-2" href="logout">Logout</a>
        <h2>Hello {{user.first_name}}! Create a trip!</h2>
        <hr>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="text-danger {{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
        <div class="row">
            <div class="col">
                <form action="/add_trip" method="post">
                    {% csrf_token%}
                    <div>
                        <label>Destination:</label>
                        <input type="text" name="desc">
                    </div>
                    <div>
                        <label>Start Date:</label>
                        <input type="date" name="s_date">
                    </div>
                    <div>
                        <label>End Date:</label>
                        <input type="date" name="e_date">
                    </div> 
                    <div>
                        <label>Plan:</label>
                        <textarea name="plan" cols="30" rows="3"></textarea>
                    </div> 
                    <a class="btn btn-info mr-2" href="/dashboard">Cancel</a>                    
                    <input class="btn btn-warning ml-2" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>    
</body>
</html>