<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Great Number Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="text-info">Welcome to the Great Number Game!</h1>
        <p>I am thining of a number between 1 and 100</p>
        <p>Take a guess!</p>
        {% if count == 5%}
        You lose. Try again!
        {% else %}
        <h3 class="text-danger"> Your number of guesses:<span class="text-warning">{{ count }}</span></h3>
        {% endif %}
        <form action="/guess" method="POST">
            {% csrf_token %}
            <input type="number" name="number">
            <input class="btn btn-danger" type="submit" value="Submit">
        </form>        
        <h2>{{results}}</h2>         
        <a href="/redo" class="btn btn-info">Play again!</a>
    </div>
</body>
</html>