<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <div class="container">
        <a href="/new_job">
            <input class="btn btn-info float-right mt-2" type="submit" value="New job!">
        </a>
        
        <a class="text-primary float-right mt-2 mr-2" href="logout">Logout</a>
        
        <h2>Hello {{logged_in.first_name}}!</h2>
        <hr>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %} class="text-danger{{ message.tags }}"{% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
        <div class="row">
            <div class="col">
                <h2>Everyone's jobs:</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Job</th>
                            <th scope="col">Location</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for job in jobs %}
                        <tr>
                            <th>{{job.title}}</th>
                            <td>{{job.location}}</td>
                            <td><a href="/jobs/{{job.id}}">View</a></td>
                            
                            {% if logged_in == this_job.worker.id %}
                            <td><a href="/click_delete/{{job.id}}">Remove</a></td>
                            <td><a href="/click_edit/{{job.id}}">Edit</a></td>
                            {% endif %}
                            
                            <td><a href="/new_job">Add</a></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>