<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register and Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>    
    <div class="container">
        <h1>Welcome! Sign In to Manage your jobs!</h1>
        {% if messages %}
        <ul class="messages">    
            {% for message in messages %}    
                <li {% if message.tags %}class="text-danger {{ message.tags }}" {% endif %}>{{ message }}</li>    
            {% endfor %}
        </ul>
        {% endif %}
        <div class="row">
            <div class="col">
                <h2 class="text-danger">Register</h2>
                <form action="/register" method="post">
                    {% csrf_token%}
                    <div>
                        <label>First Name:</label>
                        <input type="text" name="fname">
                    </div>
                    <div>
                        <label>Last Name:</label>
                        <input type="text" name="lname">
                    </div>
                    <div>
                        <label>Email:</label>
                        <input type="text" name="email">
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" name="pass">
                    </div>
                    <div>
                        <label>Confirm PW:</label>
                        <input type="password" name="conf_pass">
                    </div>                   
                    <input class="btn btn-info" type="submit" value="Register">
                </form>
            </div>
            <div class="col"><div class="col">
                <h2 class="text-danger">Login</h2>
                <form action="/login" method="post">
                    {% csrf_token%}
                    <div>
                        <label>Email:</label>
                        <input type="text" name="log_email">
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" name="log_pass">
                    </div>
                    <input class="btn btn-info" type="submit" value="Login">
                </form>
            </div>
        </div>     
    </div>    
    
</body>
</html>